* {
    margin:0;
    padding:0;
    border:none;
    
}
body {
    background-image: linear-gradient(to bottom right, #F8EA8C, #A4E8E0);
    background-repeat: no-repeat;
    height:1000px;
    
}
#header-container {
    display:flex;
    justify-content: center;
    margin-top:25px;
    border:1px solid black;
}
#image-container {
    margin-top:20px;
    display:flex;
    justify-content: center;
    height: 220px;
}
#question-container {
    margin-top:20px;
    display:flex;
    justify-content: center;
}
.answers-container {
    display: flex;
    justify-content: center;
}
.answer-letter {

    
    color: black;
  }
