* {
    margin:0;
    padding:0;
   
    
}



body {
    
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #F8EA8C, #A4E8E0);
    background-repeat: no-repeat;
    height:1000px;
    font-size: 14px;
    
}
#gamecontainer {
  
    width: 800px;
    height:600px;
    max-width:80%;
    border:solid 2px black;
    border-radius: 20px;
    background-color: antiquewhite;
    box-shadow: 0 0 12px 2px;


}
.hide {
    display:none !important;
}
#header-container {
    display:flex;
    justify-content: center;
    margin-top:25px;
    
}
#image-container {
    
    margin-top:20px;
    display:flex;
    
    justify-content: center;
    height: 220px;
  
}
#image-container img {
    
    border: solid 3px black;
   
   
}
#info-container {
    margin-top:20px;
    display: flex;
    justify-content: center;
   
}
#info-container h2 {
    font-size:17px;
}
#start-button-container {
    display:flex;
    justify-content: center;
    margin-top:20px;
}
#next-button-container {
    display:flex;
    justify-content: center;
    margin-top:20px;
}
#question-container {
    margin-top:20px;
    display:flex;
    justify-content: center;
    
   
}
#question-container h2 {
    font-size: 17px;
    
  
}



#answer-flex {
    margin-top:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.answers-container {
    display: flex;
    
   
    margin-bottom:4px;
    background-color: azure;
    width:300px;
    white-space: nowrap;
    
    
}
.answer-letter {
    display:flex;
    justify-content: flex-start;
    margin-right:5px;
    background-color: aqua;
    padding:4px;
    color: black;
  }


#a-button {
   text-align: center;
    width: 100%;
  
   
    
    
}


#b-button {
    text-align: center;
    width: 100%;

    
}

#c-button {
    text-align: center;
    width: 100%;
    
    
    
}

#d-button {
    text-align: center;
    width: 100%;
   
}