* {
    margin:0;
    padding:0;
   
    
}
body {
    background-image: linear-gradient(to bottom right, #F8EA8C, #A4E8E0);
    background-repeat: no-repeat;
    height:1000px;
    font-size: 14px;
    
}
#header-container {
    display:flex;
    justify-content: center;
    margin-top:25px;
    
}
#image-container {
    margin-top:20px;
    display:flex;
    justify-content: center;
    height: 220px;
   
}
#image-container img {
    border: solid 3px green;
}
#start-button-container {
    display:flex;
    justify-content: center;
    margin-top:20px;
}
#next-button-container {

display:flex;
    justify-content: center;
    margin-top:20px;
}
#question-container {
    margin-top:20px;
    display:flex;
    justify-content: center;
    
   
}
#question-container h2 {
    background-color: azure;
    border:solid 1px black;
}



#answer-flex {
    margin-top:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.answers-container {
    display:flex; 
    margin-bottom:4px;
    background-color: azure;
    width:300px;
    
    
}
.answer-letter {
    margin-right:5px;
    background-color: aqua;
    padding:4px;
    color: black;
  }

#answer-text-a {
    padding:5px
}
#a-button {
    margin-left:181px;
    
}

#answer-text-b {
    padding:5px
}
#b-button {
    margin-left:182px;
    
}
#answer-text-c {
    padding:5px
}
#c-button {
    
    margin-left:182px;
    
}
#answer-text-d {
    padding:5px
}
#d-button {
    margin-left:180px;
    
}